Repository kubermatic/dashboard, pull requests merged in 2022-12, with the labels that each got.

#5367 Use impersonatedClient instead of privildged client for externalclusters
  modules/api/pkg/handler/common/upgrade.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/handler/v2/external_cluster/node_test.go
  modules/api/pkg/handler/v2/external_cluster/upgrade.go
  modules/api/pkg/kubernetes/helper.go
  modules/api/pkg/provider/cloud/eks/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/types.go
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#5370 bump KKP to dd5fd6c6fbc5
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#5372 Add headings to cards
  modules/web/src/app/backup/list/automatic-backup/template.html
  modules/web/src/app/backup/list/restore/template.html
  modules/web/src/app/backup/list/snapshot/template.html
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/list/cluster/template.html
  modules/web/src/app/cluster/list/external-cluster/template.html
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/template.html
  modules/web/src/app/serviceaccount/template.html
  modules/web/src/app/sshkey/template.html
Labels: release-note-none, size/L, lgtm, approved, kind/design, dco-signoff: yes, docs/none

#5373 Fix nil pointer for version
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5377 Endpoint to retrieve default cluster specifications
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/default_cluster/default_cluster_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/default_cluster/get_default_cluster_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/default_cluster/get_default_cluster_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#5319 limit husky to fe in pre-commit hook
  modules/web/.husky/pre-commit
  modules/web/.husky/pre-push
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, docs/none

#5380 bump KKP to bd4abe02b7de
  hack/lib.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/reconciling.yaml
  modules/api/hack/update-codegen.sh
  modules/api/pkg/ee/metering/handler.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/application_installation/application_installation.go
  modules/api/pkg/provider/kubernetes/cluster.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/kubernetes/seed.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#5330 Add project-scoped API endpoints for GCP
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/provider/gcp.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gcp/gcp_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gcp/list_project_g_c_p_networks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gcp/list_project_g_c_p_networks_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gcp/list_project_g_c_p_subnetworks_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gcp/list_project_g_c_p_subnetworks_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gke/gke_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gke/list_project_g_c_p_vm_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gke/list_project_g_c_p_vm_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gke/list_project_g_c_p_zones_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/gke/list_project_g_c_p_zones_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_project_g_c_p_disk_types_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_project_g_c_p_disk_types_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
Labels: lgtm, release-note, approved, size/XXL, kind/api-change, dco-signoff: yes, sig/api, docs/none

#5383 remove validators from provider tags for MD
  modules/web/src/app/backup/list/automatic-backup/template.html
  modules/web/src/app/backup/list/snapshot/template.html
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/extended/provider/aws/template.html
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/node-data/extended/provider/openstack/template.html
  modules/web/src/app/node-data/extended/provider/vsphere/template.html
  modules/web/src/app/node-data/template.html
  modules/web/src/app/serviceaccount/template.html
  modules/web/src/app/sshkey/template.html
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#5381 Fix Add Machine Deployment creation
  modules/web/src/app/node-data/component.ts
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#5361 Add option to set cluster autoscaler annotation on MD through API
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v1/node/node.go
  modules/api/pkg/handler/v2/machine/machine.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_deployment_spec.go
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#5369 Provide option for autoscaling nodes
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/style.scss
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/machine-deployment.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/summary/component.ts
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, docs/none

#5395 Add project-scoped API endpoints for Anexia
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/provider/anexia.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/anexia_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_templates_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_vlans_responses.go
Labels: kind/feature, lgtm, release-note, approved, size/XXL, kind/api-change, dco-signoff: yes, sig/api, docs/none

#5398 Add autoscaling config in cluster template node data
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/shared/components/save-cluster-template/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#5404 Increase timeout for e2e test API call to fetch Azure sizes
  modules/api/pkg/test/e2e/utils/client.go
Labels: kind/cleanup, release-note-none, size/XS, lgtm, approved, kind/flake, dco-signoff: yes, sig/api, docs/none

#5394 Add endpoint to get service account permission
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/v2/cluster/serviceaccount.go
  modules/api/pkg/handler/v2/cluster/serviceaccount_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_service_account_permissions_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_service_account.go
  modules/api/pkg/test/e2e/utils/apiclient/models/permission.go
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#5411 Update OWNERS
  OWNERS
Labels: release-note-none, lgtm, size/S, dco-signoff: yes

#5410 [release/v2.19] Add changelog for KKP 2.19.13
  src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes

#5409 [release/v2.20] Add changelog for KKP 2.20.11
  src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes

#5408 [release/v2.21] Add changelog for KKP 2.21.4
  src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes

#5407 Add project-scoped API endpoints for Equinix Metal
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/provider/equinixmetal.go
  modules/api/pkg/handler/v2/provider/packet.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/equinixmetal_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_equinix_metal_sizes_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_equinix_metal_sizes_no_credentials_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_project_equinix_metal_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/equinixmetal/list_project_equinix_metal_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/packet/packet_client.go
Labels: kind/feature, lgtm, release-note, approved, size/XXL, kind/api-change, dco-signoff: yes, sig/api, docs/none

#5414 KubeVirt fix broken custom local disk
  modules/api/pkg/resources/machine/common.go
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5401 Use kubermatic ns instead of kubeone ns
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/dependency_credentials.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5415 Fix code generation
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/hack/tools.go
  modules/api/hack/update-codegen.sh
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/default_cluster/default_cluster_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/default_cluster/get_default_cluster_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/networkdefaults/get_network_defaults_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/networkdefaults/networkdefaults_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/operatingsystemprofile/list_operating_system_profiles_for_cluster_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/operatingsystemprofile/operatingsystemprofile_client.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#5417 Add strict check on `max` and `min` values in number-stepper
  modules/web/src/app/shared/components/number-stepper/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#5424 update OSM/MC versions
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/master_version.go
  modules/api/pkg/test/e2e/utils/apiclient/models/version.go
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5428 Remove karma testing config from angular configuration
  modules/web/angular.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#5432 add sync-client
  modules/api/hack/ci/sync-apiclient.sh
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5430 Allow editing version for installed application
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#5433 Fix bug apiServerAllowedIPRanges is allowed for LB expose strategy
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
Labels: kind/bug, kind/cleanup, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#5427 Add project-scoped API endpoints for AKS
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/aks_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_locations_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_a_k_s_resource_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_locations_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_locations_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_resource_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_resource_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_vm_sizes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/list_project_a_k_s_vm_sizes_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/validate_project_a_k_s_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/aks/validate_project_a_k_s_credentials_responses.go
Labels: lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#5437 add ensure_github_host_pubkey for sync-client
  hack/lib.sh
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none

#5438 fix paths for sync-client
  modules/api/hack/ci/sync-apiclient.sh
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5439 Hide KubeVirt's secondary disks wizard and view
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
Labels: kind/cleanup, size/L, lgtm, release-note, approved, dco-signoff: yes, kind/chore, docs/tbd

#5436 Pass labels between internal and public ApplicationDefinition
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_body.go
Labels: kind/feature, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5434 Add method to get user based MasterClient
  modules/api/pkg/handler/common/upgrade.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/handler/v2/external_cluster/upgrade.go
  modules/api/pkg/kubernetes/helper.go
  modules/api/pkg/provider/cloud/eks/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/types.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5449 Add `io2` and `gp3` to AWS provider disk types list
  modules/web/src/app/node-data/basic/provider/aws/component.ts
Labels: kind/feature, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#5426 Integrate API fetch defaults for Clusters
  modules/web/cypress/pages/v2/sshkeys/page.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#5459 Remove validators from provider tags for MD
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/extended/provider/vsphere/template.html
  src/app/node-data/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes

#5461 Remove validators from provider tags for MD (#5383) (#5459)
  src/app/node-data/component.ts
  src/app/node-data/extended/provider/aws/template.html
  src/app/node-data/extended/provider/azure/template.html
  src/app/node-data/extended/provider/openstack/template.html
  src/app/node-data/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes

#5455 Modify Project Overview
  modules/web/src/app/project-overview/members-overview/component.ts
  modules/web/src/app/project-overview/members-overview/template.html
  modules/web/src/app/project-overview/providers-overview/template.html
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/template.html
  modules/web/src/app/shared/components/labels/component.ts
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Labels: release-note-none, size/L, lgtm, approved, kind/design, dco-signoff: yes, docs/none

#5466 Redirect to KubeOne clusters list page after disconnect
  modules/web/src/app/core/services/external-cluster.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none

#5467 Update minimum replicas count value to `0`
  modules/web/src/app/node-data/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#5450 Handle default resource quotas
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_quota.go
Labels: kind/feature, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#5482 bump KKP to 2fa3f8f46894
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/default_project_resource_quota.go
  modules/api/pkg/test/e2e/utils/apiclient/models/http_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_cloning.go
  modules/api/pkg/test/e2e/utils/apiclient/models/image_sources.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/o_s_versions.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pre_allocated_data_volume.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_details.go
  modules/api/pkg/test/e2e/utils/apiclient/models/setting_spec.go
Labels: release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, sig/api, kind/chore, docs/none

#5484 convert packet machine provider spec as equinix
  modules/api/pkg/machine/convert.go
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none
