Repository kubermatic/dashboard, pull requests merged in 2023-04, with the labels that each got.

#5879 Fix 'v' prefix removal by removing character instead of slicing string
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none, backport-needed

#5883 Fetch AWS VPC id from request header
  modules/api/pkg/handler/v2/provider/aws.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/regression, docs/none

#5887 [release/v2.22] Upgrade to Go 1.19.8
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/binding_test.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#5891 [release/v2.21] Bump version to v2.21.8
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, kind/chore

#5886 Upgrade to Go 1.20.3
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/images/web-terminal/Dockerfile
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/binding_test.go
  modules/api/pkg/provider/cloud/nutanix/client.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#5894 Add functionality to configure metering schedule report types
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.spec.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/edit-dialog/template.html
  modules/web/src/app/dynamic/enterprise/metering/schedule-config/template.html
  modules/web/src/app/dynamic/enterprise/metering/service/metering.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/test/data/metering.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, docs/tbd

#5893 Add auto upgrade option for admin settings
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/machine_deployment_options.go
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: customer-request, kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/none

#5902 Update k8c.io/kubermatic/v2 to 8243a5d86430
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Labels: kind/cleanup, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none

#5905 Add support to disable changelog popup
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
  modules/web/src/app/settings/admin/customization/component.ts
  modules/web/src/app/settings/admin/customization/template.html
  modules/web/src/app/shared/entity/settings.ts
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#5912 Add margin between placeholder text and `Add Project` button
  modules/web/src/app/project/style.scss
  modules/web/src/app/project/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#5906 Support for enabling accelerated networking on Azure
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/handler/common/provider/azure.go
  modules/api/pkg/handler/v1/provider/azure_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_size.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/web/src/app/core/services/node-data/provider/azure.ts
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/node-data/basic/provider/azure/component.ts
  modules/web/src/app/node-data/basic/provider/azure/template.html
  modules/web/src/app/node-data/extended/provider/azure/component.ts
  modules/web/src/app/node-data/extended/provider/azure/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/azure.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#5922 Initialize machine deployments before other cluster details are loaded
  modules/web/src/app/cluster/details/cluster/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none

#5925 Add new option to restrict project deletion in the admin settings
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/api/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/project/component.ts
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/none

#5926 Add cut off shadow to dialogs
  modules/web/src/assets/css/global/_theme.scss
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none
