Repository kubermatic/dashboard, pull requests merged in 2023-10, with the labels that each got.

#6247 Update to latest kubernetes and KKP APIs
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/clusterexposer/cmd/main.go
  modules/api/pkg/test/e2e/utils/apiclient/models/field_value_error_reason.go
  modules/api/pkg/test/e2e/utils/apiclient/models/label_selector_requirement.go
  modules/api/pkg/test/e2e/utils/apiclient/models/o_id_c_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/validation_rule.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6246 Introduce an option to disable admin kubeconfig endpoints
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/cypress/utils/mocks.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/tbd

#6249 [release/v2.23] Introduce an option to disable admin kubeconfig endpoints
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/o_id_c_settings.go
  modules/web/cypress/utils/mocks.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api

#6256 Support for KubeLB
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/admin/seed.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_spec.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#6258 Set default value for cni plugin version
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/cniversion/cniversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/c_n_i_versions.go
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none

#6264 Add OSP to the MD patch object
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/entity/machine-deployment.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none

#6265 [release/v2.21] Add OSP to the MD patch object
  src/app/core/services/node.ts
  src/app/shared/entity/machine-deployment.ts
Labels: size/XS, lgtm, release-note, approved, dco-signoff: yes

#6269 Spelling-fixes
  docs/proposals/testing.md
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v2/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/test/e2e/utils/oidc.go
  modules/web/version.js
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6268 Update jobs and scripts to Go 1.21.3
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/hack/verify-swagger.sh
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6271 [release/v2.23] Update jobs and scripts to Go 1.20.10
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6267 [release/v2.23] Add OSP to the MD patch object
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/shared/entity/machine-deployment.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api

#6277 Update `k8c.io/kubermatic/v2` dependency to `604ffa6`
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/resource-quota/handler_test.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/provider/aws.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v1/cluster/upgrade_test.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v1/presets/credentials.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/handler/v2/constraint/constraint_test.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  modules/api/pkg/handler/v2/provider/alibaba.go
  modules/api/pkg/handler/v2/provider/anexia.go
  modules/api/pkg/handler/v2/provider/aws.go
  modules/api/pkg/handler/v2/provider/azure.go
  modules/api/pkg/handler/v2/provider/digitalocean.go
  modules/api/pkg/handler/v2/provider/equinixmetal.go
  modules/api/pkg/handler/v2/provider/hetzner.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/nutanix.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/handler/v2/provider/vmwareclouddirector.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/kubernetes/helper.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/aws/client.go
  modules/api/pkg/provider/cloud/aws/client_test.go
  modules/api/pkg/provider/cloud/aws/vpc.go
  modules/api/pkg/provider/cloud/eks/provider.go
  modules/api/pkg/provider/cloud/nutanix/api.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/common_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/api/pkg/test/e2e/utils/client.go
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none

#6280 [release/v2.21] Patch release version bump
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore

#6281 Add functionality to configure `basePath` in preset and cluster for vSphere
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/tbd

#6282 Replace base folder path dropdown with an input field
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Labels: kind/feature, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#6279 [release/v2.22] Patch release version bump, KKP update
  Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6286 Update to `quay.io/kubermatic/web-terminal:0.7.0`
  modules/api/pkg/handler/websocket/terminal.go
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6287 [release/v2.23] Update to `quay.io/kubermatic/web-terminal:0.6.2`
  modules/api/pkg/handler/websocket/terminal.go
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6278 [release/v2.23] Patch release version bump, KKP update
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6288 [release/v2.22] Update dependencies in web-termial docker image and bump util version
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  hack/lib.sh
  modules/api/pkg/handler/websocket/terminal.go
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6297 [release/v2.22] Changelog update
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, code-freeze-approved

#6295 Propagate KubeLB cluster status to dashboard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_health.go
Labels: kind/cleanup, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6304 Bump version to v2.24.0-beta.0
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix_c_s_i_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6315 Fix issue caused by invalid value of allowed IP ranges for NodePorts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6317 Fix for determining available CNI version upgrades
  modules/web/src/app/cluster/details/cluster/cni-version/component.ts
Labels: kind/bug, customer-request, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6318 [release/v2.23] Patch release 2.23.6
  Makefile
  modules/api/.golangci.yml
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix_c_s_i_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6319 [release/v2.22] Patch release 2.22.9
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6320 [release/v2.21] Patch release 2.21.14
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, do-not-merge/code-freeze

#6325 Set default OS value only when it's different from selected OS value
  modules/web/src/app/node-data/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6326 Set Floating IP Pools label to empty if there are no pools available
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6327 Fix typo in `KubeLB` label
  modules/web/src/app/shared/components/cluster-summary/template.html
Labels: release-note-none, size/XS, lgtm, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6338 re-word warning message about deleting external clusters
  modules/web/src/app/cluster/details/external-cluster/external-cluster-delete-confirmation/component.ts
Labels: kind/cleanup, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6339 Prepare v2.24.0-beta.1 release
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6337 fix listing events for external clusters
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6341 Fix GKE Credentials validation
  modules/web/src/app/cluster/details/external-cluster/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/external-cluster-credentials/provider/gke/component.ts
  modules/web/src/app/shared/components/external-cluster-credentials/provider/gke/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vsphere/template.html
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6345 Add disableDeletion method in EKS
  modules/web/src/app/cluster/details/external-cluster/external-cluster-delete-confirmation/component.ts
  modules/web/src/app/cluster/details/external-cluster/external-cluster-delete-confirmation/template.html
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6346 Remove the patch version in edit MD for EKS
  modules/web/src/app/cluster/details/external-cluster/update-external-cluster-machine-deployment-dialog/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6348 Remove the disable method for vmsizes
  modules/web/src/app/external-cluster-wizard/steps/external-cluster/provider/aks/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6340 Fix switch for sharing cluster
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/api/settings_test.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6353 [release/v2.23] Fix switch for sharing cluster
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/api/settings_test.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, do-not-merge/code-freeze
