Repository kubermatic/dashboard, pull requests merged in 2023-12, with the labels that each got.

#6415 Fix issue in editing and updating applications of cluster template
  modules/web/src/app/wizard/step/applications/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none, backport-needed

#6419 Use default font to fix cursor position issue in monaco editor
  modules/web/src/app/shared/components/editor/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none, backport-needed

#6426 [release/v2.23] Update to Go 1.20.12
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6420 Update Go to 1.21.5
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6421 [release/v2.24] Update Go to 1.21.5
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6430 [release/v2.22] Bump version to v2.22.11
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6431 [release/v2.23] Bump version to v2.23.9
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6437 [release/v2.22] Add changelog entries for v2.22.11 dashboard fixes
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes

#6436 [release/v2.23] Add changelog entries for v2.23.9 dashboard fixes
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes

#6432 [release/v2.24] Bump version to v2.24.1
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore
