Repository kubermatic/dashboard, pull requests merged in 2023-09, with the labels that each got.

#6156 openstack client: include TenantID in list options
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/api/pkg/provider/cloud/openstack/provider.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, backport-needed

#6208 Fix docs link about OIDC groups
  modules/web/src/app/settings/user/template.html
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6218 Allow expansion of sidenav on small screens
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/settings/admin/nav/component.ts
  modules/web/src/assets/css/_variables.scss
  modules/web/src/assets/css/global/_main.scss
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6220 [release/v2.22] Allow expansion of sidenav on small screens
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/style.scss
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/settings/admin/nav/component.ts
  modules/web/src/assets/css/_variables.scss
  modules/web/src/assets/css/global/_main.scss
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes

#6221 [release/v2.23] Update to `k8c.io/kubermatic/v2@4a8e342d8697`
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/ci/setup-kind-cluster.sh
  modules/api/.golangci.yml
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6222 [release/v2.22] Update to `k8c.io/kubermatic/v2@4b19bad76730`
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6223 [release/v2.22] Prepare v2.22.7
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6224 [release/v2.23] Prepare v2.23.3
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6231 replace null values to empty values for kubevirt
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes

#6232 [release/v2.23] Prepare v2.23.4 out-of-band patch release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/regression
