Repository kubermatic/dashboard, pull requests merged in 2023-11, with the labels that each got.

#6360 Prepare 2.24.0 Release Candidate 0 and update changelog.json
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6361 Enforce Konnectivity value because OpenVPN support is deprecated
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6365 Set `eventRateLimitConfig` to `null` instead of calling `delete` on service getter method
  modules/web/src/app/shared/components/event-rate-limit/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6362 Prevent `clusterDefaultNodeSelector` label from being added on opening of edit cluster dialog
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6371 [release/v2.22] Prepare v2.22.10 release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6372 [release/v2.21] Prepare v2.21.15 release
  Makefile
  package-lock.json
  package.json
  src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, kind/documentation, dco-signoff: yes, kind/chore, do-not-merge/code-freeze

#6373 [release/v2.22] Update web Makefile to v2.22.10
  modules/web/Makefile
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, do-not-merge/code-freeze

#6370 [release/v2.23] Prepare v2.23.7 release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore, do-not-merge/code-freeze

#6374 Don't return error in case one of a seed down
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview.go
  modules/api/pkg/provider/kubernetes/etcdbackupconfig.go
  modules/api/pkg/provider/kubernetes/etcdrestore.go
  modules/web/src/app/core/services/cluster.ts
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6383 [release/v2.23] Add changelog entry for partial cluster list
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, code-freeze-approved

#6382 Bump `k8c.io/kubermatic/v2` and add changelog entry for partial cluster list
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_cloud_spec.go
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6385 Remove context timeout check from listing clusters of project
  modules/api/pkg/handler/v1/project/project.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6386 [release/v2.23] Remove context timeout check from listing clusters of project
  modules/api/pkg/handler/v1/project/project.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, code-freeze-approved

#6387 [release/v2.23] Update to 2.23.8
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, do-not-merge/code-freeze

#6388 Prepare 2.24.0
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6395 Option to disable CSI drivers
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_configuration.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/kubeone-wizard/steps/credentials/provider/basic/vsphere/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/template.html
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6391 Added flatcar for VMWare Cloud Director to the UI
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/web/src/app/node-data/component.ts
Labels: kind/feature, size/XS, lgtm, release-note, approved, needs-ok-to-test, dco-signoff: yes, sig/api, docs/none

#6399 Add flatcar as supported OS for GCE
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/web/src/app/node-data/component.ts
Labels: kind/feature, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none
