Repository kubermatic/dashboard, pull requests merged in 2024-12, with the labels that each got.

#7026 Remove CentOS
  hack/ci/testdata/seed.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/machine/util.go
  modules/api/pkg/machine/util_test.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cent_o_s_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/operating_system_spec.go
  modules/api/pkg/test/e2e/utils/client.go
  modules/web/cypress/fixtures/datacenters.json
  modules/web/fixtures/db.json
  modules/web/hack/e2e/fixtures/seed.yaml
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/add-project-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/os/centos.svg
  modules/web/src/test/data/datacenter.ts
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7034 Remove the `includedNamespaces` property when select all namespaces
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#7036 [release/v2.25] Remove includedNamespaces when select all namespaces
  modules/web/src/app/cluster/details/cluster/machine-deployment-list/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes

#7037 [release/v2.26] Remove includedNamespaces when select all namespaces (#7034)
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes

#7035 Update dependencies and golang config
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_overview.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
  modules/web/go.sum
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none

#7039 [release/v2.26] Remove CentOS as a supported OS
  hack/ci/testdata/seed.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/machine/util.go
  modules/api/pkg/machine/util_test.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cent_o_s_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/operating_system_spec.go
  modules/api/pkg/test/e2e/utils/client.go
  modules/web/cypress/fixtures/datacenters.json
  modules/web/fixtures/db.json
  modules/web/hack/e2e/fixtures/seed.yaml
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/basic/provider/nutanix/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/add-project-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/os/centos.svg
  modules/web/src/test/data/datacenter.ts
Labels: kind/cleanup, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api
