Repository kubermatic/dashboard, pull requests merged in 2024-11, with the labels that each got.

#6962 Display only the admin-allowed OS on project add/edit dialog
  modules/web/src/app/project/component.ts
  modules/web/src/app/project/edit-project/component.spec.ts
  modules/web/src/app/project/edit-project/component.ts
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/shared/components/add-project-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-project-dialog/component.ts
  modules/web/src/app/shared/components/add-project-dialog/template.html
Labels: size/M, lgtm, release-note, approved, kind/design, dco-signoff: yes, docs/none

#6964 [release/v2.26] Read KubeVirt infra namespace from datacenter
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api

#6971 remove empty LabelSelector in Velero objects
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/kubernetes/helper.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6978 [release/v2.26] Bump KKP API version to 2.26
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#6974 [release/v2.25] Bump KKP API version
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#6976 [release/v2.24] Bump KKP API version
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#6972 Bump KKP API version
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, docs/none

#6980 Allow adding a postfix to the page title
  modules/web/src/app/component.ts
  modules/web/src/app/core/services/page-title.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/model/Config.ts
  modules/web/src/assets/config/config.json
Labels: kind/feature, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/tbd

#6982 Support reading vpcs and subnets from dc
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_p_c.go
  modules/api/pkg/test/e2e/utils/apiclient/models/volume_binding_mode.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Labels: lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#6990 Add OPA deprecated warning message
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6992 [release/v2.24] Bump dashboard version for the KKP next patch release 2.24.14
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#6993 [release/v2.25] Bump dashboard version for KKP next patch release 2.25.12
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#6994 [release/v2.26] Bump dashboard version for KKP next patch release 2.26.1
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/volume_binding_mode.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7000 Support Reading KubeVirt StorageClasses from Seed
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7002 Fix missing AMI value in edit machine deployment dialog
  modules/web/src/app/node-data/basic/provider/aws/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#7009 [release/v2.26] Support reading vpcs and subnets from dc (#6982)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_p_c.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Labels: lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api

#7013 [release/v2.26] Bump kkp dependencies
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7014 Add groups scope for kubernetes-dashboard auth
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7018 Update deprecation notice for OPA
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/template.html
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#7024 [release/v2.26] prepare 2.26.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore
