Repository kubermatic/dashboard, pull requests merged in 2024-02, with the labels that each got.

#6490 Option to enable Cilium Ingress for user clusters
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6500 Prepare KKP v2.25.0-beta.0
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/edge_cloud_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6503 Upgrade to alpine 3.19 for container images
  Dockerfile
  hack/images/web-terminal/Dockerfile
Labels: size/XS, lgtm, release-note, approved, dco-signoff: yes, kind/chore, docs/none

#6504 Display source URL, documentation URL and logo of applications
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item_spec.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/shared/components/application-list/add-application-dialog/style.scss
  modules/web/src/app/shared/components/application-list/add-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/style.scss
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/assets/themes/dark.scss
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#6505 Update to Go 1.22
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6501 Add K8sGPT and add default user and webshell user for bashrc
  hack/images/web-terminal/.bashrc
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#6507 Update dependencies
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_config_handler_test.go
  modules/api/pkg/handler/v1/cluster/kubeconfig_test.go
  modules/api/pkg/handler/v2/preset/preset_test.go
  modules/api/pkg/handler/v2/webterminal/webterminal_test.go
  modules/api/pkg/provider/kubernetes/external_cluster_test.go
  modules/api/pkg/provider/kubernetes/ipampool_test.go
  modules/api/pkg/provider/kubernetes/sa_test.go
  modules/api/pkg/provider/kubernetes/sa_token_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/addon_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/infer_from_volume_failure_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/instancetype_matcher.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preference_matcher.go
  modules/api/pkg/test/e2e/utils/apiclient/models/validation_rule.go
  modules/web/go.mod
  modules/web/go.sum
Labels: release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, sig/api, kind/chore, docs/none

#6506 Set LoadBalancerSKU from Azure preset
  modules/api/pkg/provider/kubernetes/preset.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6511 bump to latest KKP 2.24 commit
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, code-freeze-approved

#6513 bump to latest KKP 2.23 commit
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, code-freeze-approved

#6478 Add backup storage location page
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/storage-location/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/cbsl.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_access_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_phase.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cbsl_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_backup_storage_location.go
  modules/api/pkg/test/e2e/utils/apiclient/models/object_storage_location.go
  modules/api/pkg/test/e2e/utils/apiclient/models/storage_type.go
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/module.ts
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/utils/health-status.ts
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd

#6493 Add the enable/disable backup option for user cluster
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/style.scss
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/tbd

#6522 Adjust Group and User for Webshell Terminal
  modules/api/pkg/handler/websocket/terminal.go
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6523 Update dependencies
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, kind/chore, docs/none, code-freeze-approved

#6521 Backup downloadurl
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/handler/v2/clusterbackup/backup/clusterbackupconfig.go
  modules/api/pkg/handler/v2/clusterbackup/backup/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backup/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/post_backup_download_url_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/post_backup_download_url_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_download_url.go
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/shared/entity/backup.ts
Labels: lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/ui, sig/api, docs/tbd, code-freeze-approved

#6527 Update design of add/edit application dialog
  modules/web/src/app/shared/components/application-list/add-application-dialog/style.scss
  modules/web/src/app/shared/components/application-list/add-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/application-definition-card/component.ts
  modules/web/src/app/shared/components/application-list/application-definition-card/style.scss
  modules/web/src/app/shared/components/application-list/application-definition-card/template.html
  modules/web/src/app/shared/components/application-list/application-definition-card/theme.scss
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/images/icons/code.svg
  modules/web/src/assets/images/icons/docs.svg
  modules/web/src/assets/themes/dark.scss
Labels: release-note-none, size/L, lgtm, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6535 Drop additional configuration for web-terminal pod
  modules/api/pkg/handler/websocket/terminal.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6525 Support for edge provider in KKP API
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v2/machine/machine.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/edge/provider.go
  modules/api/pkg/provider/cloud/provider.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_machine_deployment_join_script_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_machine_deployment_join_script_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/joining_script.go
Labels: lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/tbd, code-freeze-approved

#6533 [release/v2.22] Bump version to v2.22.13
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/go.mod
  modules/web/go.sum
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6543 Fix select BSL on cluster creation
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/delete-dialog/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6545 Support edge provider in node deployment/spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/edge_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_cloud_spec.go
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6546 Add description field to the edge spec
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6549 Prepare v2.25.0-beta.1
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6548 Add the edge provider to the cloud spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_edge_cloud_spec.go
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6551 Exclude machine controller health check when edge provider is used
  modules/api/pkg/provider/kubernetes/cluster.go
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6553 Sort cluster settings options in an alphabetic order
  modules/web/src/app/wizard/step/cluster/template.html
Labels: release-note-none, size/M, lgtm, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6554 Hide cluster backup feature for user cluster
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6502 Add support for Edge provider
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/copy-joining-script-button/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/copy-joining-script-button/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/list/cluster/component.ts
  modules/web/src/app/cluster/module.ts
  modules/web/src/app/core/services/machine-deployment.ts
  modules/web/src/app/core/services/wizard/wizard.ts
  modules/web/src/app/node-data/basic/provider/edge/component.ts
  modules/web/src/app/node-data/basic/provider/edge/template.html
  modules/web/src/app/node-data/basic/provider/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/providers-overview/component.ts
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/health.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/quota.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/images/clouds/edge.svg
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, docs/tbd, code-freeze-approved

#6561 Add hint for CBSL field
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6562 Add valuesBlock and defaultValuesBlock and their conversion
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/application_definition_test.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_installation/application_installation.go
  modules/api/pkg/handler/v2/application_installation/application_installation_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_spec.go
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6566 Add safety check for undefined value exception in application list card
  modules/web/src/app/shared/components/application-list/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6567 Fix handling of cloud credentials for vSphere when editting provider
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6569 Fix network configuration for VCD machines
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_v_mware_cloud_director_cloud_spec.go
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/entity/node.ts
Labels: kind/bug, release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6570 Bump version to v2.25.0-beta.2
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved
