Repository kubermatic/dashboard, pull requests merged in 2024-07, with the labels that each got.

#6723 Add an option to enable/disable OS on project level.
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/v1/common/conversion.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v1/project/project_test.go
  modules/api/pkg/handler/v1/serviceaccount/token_test.go
  modules/api/pkg/provider/kubernetes/project.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_project_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project.go
  modules/api/pkg/test/e2e/utils/apiclient/models/project_spec.go
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/project/edit-project/component.ts
  modules/web/src/app/project/edit-project/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/add-project-dialog/component.ts
  modules/web/src/app/shared/components/add-project-dialog/template.html
  modules/web/src/app/shared/entity/project.ts
  modules/web/src/assets/css/global/_main.scss
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/ui, sig/api, docs/tbd

#6727 Adjust chip list component to have multiple values at once
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vsphere/template.html
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/cleanup, release-note-none, lgtm, size/S, approved, kind/design, dco-signoff: yes, docs/none

#6729 Bump Go version to 1.22.5
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6731 [release/v2.24] Bump Go version to 1.21.12
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6730 [release/v2.25] Bump Go version to 1.22.5
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6728 remove scary deprecation warning
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
Labels: kind/cleanup, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6738 Add YAML editor to configure CBSL config
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/ui, docs/none

#6740 Fix typos
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/dynamic/enterprise/metering/component.ts
  modules/web/src/app/dynamic/enterprise/metering/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-constraint-form/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-constraint-form/style.scss
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-constraint-form/template.html
  modules/web/src/app/node-data/basic/provider/kubevirt/topology-spread-constraint-form/theme.scss
  modules/web/src/app/node-data/module.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/component.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/images/icons/webterminal-placeholder.svg
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#6741 Fix the pagination in project members table
  modules/web/src/app/member/component.ts
Labels: kind/bug, kind/cleanup, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6746 [release/v2.23] Prepare 2.23.17
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6747 [release/v2.24] Prepare 2.24.11
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api

#6745 [release/v2.25] Prepare 2.25.7
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6749 Bump go version for web app
  modules/web/go.mod
  modules/web/go.sum
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, kind/chore, docs/none
