Repository kubermatic/dashboard, pull requests merged in 2024-06, with the labels that each got.

#6705 Display the used preset in cluster page
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_project_provider_presets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/list_provider_presets_parameters.go
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/test/services/preset-mock.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/none

#6707 Small ui enhancement
  modules/web/src/app/cluster/details/cluster/constraints/style.scss
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/style.scss
  modules/web/src/app/project/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/style.scss
  modules/web/src/app/settings/admin/dynamic-datacenters/template.html
  modules/web/src/app/settings/admin/opa/default-constraints/style.scss
  modules/web/src/app/settings/admin/presets/style.scss
  modules/web/src/app/settings/admin/presets/template.html
  modules/web/src/app/settings/admin/rule-groups/style.scss
  modules/web/src/app/settings/admin/rule-groups/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/assets/css/global/_main.scss
Labels: release-note-none, size/M, lgtm, approved, kind/design, dco-signoff: yes, docs/none

#6708 Fix defaulting for CNI
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6713 Add a "Backup All Namespaces" Checkbox
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/shared/entity/backup.ts
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#6710 Bump Go version to 1.22.4
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6711 [release/v2.24] Updated Go version to 1.21.11
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6712 [release/v2.25] Updated Go version to 1.22.4
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  docs/proposals/testing.md
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6715 [release/v2.23] prepare 2.23.16
  Makefile
  docs/proposals/testing.md
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6716 [release/v2.24] prepare 2.24.9
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6717 [release/v2.25] prepare 2.25.5
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_networking_config.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6718 Update dependencies
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/provider/kubernetes/util_test.go
  modules/api/pkg/serviceaccount/jwt.go
  modules/web/.eslintrc.yml
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, sig/api, kind/chore, docs/none

#6721 [release/v2.24] Prepare v2.24.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6720 [release/v2.25] Prepare v2.25.6
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore
