Repository kubermatic/dashboard, pull requests merged in 2024-08, with the labels that each got.

#6752 fetch seed's CA bundle before connecting with metering Minio
  modules/api/pkg/ee/metering/report_handler.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6759 Use APIServerExternalAddress from cluster status in Kubeconfigs shared/downladed via dashboard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/provider/cloud/aws/client.go
  modules/api/pkg/provider/kubernetes/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/models/git_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/helm_source.go
Labels: kind/feature, release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, docs/tbd

#6754 Give admin owner role to all projects
  modules/api/pkg/handler/v1/user/user.go
  modules/api/pkg/provider/kubernetes/member.go
Labels: kind/bug, kind/feature, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/tbd, needs-release-testing

#6764 Add Baremetal provider and Tinkerbell support
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/baremetal.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/handler/v1/presets/credentials.go
  modules/api/pkg/handler/v2/provider/baremetal.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/baremetal/provider.go
  modules/api/pkg/provider/cloud/provider.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/tinkerbell/list_tinkerbell_images_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/tinkerbell/list_tinkerbell_images_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/tinkerbell/tinkerbell_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_logging_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_webhook_backend_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_tinkerbell.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespaced_name.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_http_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_image_source_type.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_image_sources.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_images.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_images_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/tinkerbell_node_spec.go
Labels: lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#6757 Allow eBPF proxy mode when cni is none
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6766 [release/v2.25] Prepare 2.25.8
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6767 [release/v2.24] Prepare 2.24.12
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6768 [release/v2.23] Prepare 2.23.18
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6769 Fix setBaremetal Credential
  modules/api/pkg/provider/kubernetes/preset.go
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6771 Fix Baremetal Cluster Creation
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_baremetal_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_cloud_spec.go
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6774 vSphere: support for VM Groups
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/handler/common/provider/vsphere.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_vm_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_project_v_sphere_vm_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_vm_groups_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_vm_groups_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/vsphere_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/namespaced_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_vm_group.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere_vm_group_list.go
  modules/web/src/app/core/services/node-data/provider/vsphere.ts
  modules/web/src/app/core/services/provider/vsphere.ts
  modules/web/src/app/core/services/wizard/provider/vsphere.ts
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
  modules/web/src/app/node-data/basic/provider/vsphere/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/vsphere.ts
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none, needs-release-testing

#6779 Web: update go modules
  modules/web/go.mod
  modules/web/go.sum
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, docs/none

#6777 Cluster endpoint for VM groups
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/vsphere.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_vm_groups_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/list_v_sphere_vm_groups_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/vsphere/vsphere_client.go
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6735 Add static labels option to the admin panel
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/static_label.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/project/edit-project/component.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/module.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/style.scss
  modules/web/src/app/settings/admin/defaults/static-labels-form/template.html
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/chip-list/component.ts
  modules/web/src/app/shared/components/chip-list/template.html
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/components/label-form/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/validators/label-form.validators.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/material/_main.scss
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/tbd

#6780 Add applypatch-msg to .gitignore
  .gitignore
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#6782 Update baremetal provider config
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6783 Enable editing allowed IP ranges for NodePorts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/model/NodeProviderConstants.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/assets/css/global/_main.scss
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6786 Fix: Change hetzner machine size e2e tests
  modules/api/pkg/test/e2e/utils/client.go
Labels: release-note-none, size/XS, lgtm, approved, kind/failing-test, dco-signoff: yes, sig/api, docs/none

#6781 Audit logging backend webhook configuration for cluster and datacenter
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/machine-flavor-filter/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/tbd

#6789 Remove deprecated linter exportloopref
  modules/api/.golangci.yml
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6778 Web: update packages
  modules/web/.npmrc
  modules/web/angular.json
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/constraints/constraint-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/gatekeeper-config/gatekeeper-config-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/alertmanager-config/alertmanager-config-dialog/component.spec.ts
  modules/web/src/app/cluster/details/cluster/mla/rule-groups/rule-group-dialog/component.spec.ts
  modules/web/src/app/module.ts
  modules/web/src/app/settings/admin/opa/constraint-templates/constraint-template-dialog/component.spec.ts
  modules/web/src/app/settings/admin/opa/default-constraints/default-constraint-dialog/component.spec.ts
  modules/web/src/app/shared/directives/value-changed-indicator.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, kind/chore, docs/none

#6792 Add Kubermatic/api to packngo User-Agent
  modules/api/pkg/handler/common/provider/packet.go
  modules/api/pkg/provider/cloud/packet/provider.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none
