Repository kubermatic/dashboard, pull requests merged in 2024-09, with the labels that each got.

#6796 Update development docs with updated depedency matrix
  Development.md
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#6795 Use versioned docs intead of main
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#6794 Default/Enforced applications in cluster wizard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/group-project-binding/provider/provider.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/application_definition/request.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/applications_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/applications/patch_application_definition_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_installation_list_item.go
  modules/api/pkg/test/e2e/utils/apiclient/models/defaulting_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_claim.go
  modules/web/src/app/core/services/application.ts
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/shared/components/application-list/add-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/wizard/step/applications/component.ts
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#6797 Add typos config
  .typos.toml
  hack/verify-spelling.sh
  modules/api/pkg/ee/metering/report_config_handler.go
  modules/api/pkg/handler/common/binding.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/websocket/user_test.go
  modules/api/pkg/provider/cloud/gcp/provider.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/web/src/app/shared/components/label-form/component.ts
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6805 [release/v2.25] Fix web terminal cursor issue
  modules/api/pkg/handler/websocket/terminal.go
  modules/web/src/app/shared/components/terminal/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api

#6810 Update KubeLB integration to support new features
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/style.scss
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, needs-release-testing

#6817 prepare 2.26.0-beta.0
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6809 Support for annotations
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/apiclient/models/annotation_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_info.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_spec.go
  modules/web/cypress/pages/v2/wizard/page.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/component.ts
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/core/services/machine-deployment.ts
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/core/services/node.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/components/annotation-form/style.scss
  modules/web/src/app/shared/components/annotation-form/template.html
  modules/web/src/app/shared/components/annotation-form/theme.scss
  modules/web/src/app/shared/components/cluster-summary/component.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/components/save-cluster-template/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/shared/utils/annotations.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/summary/component.ts
  modules/web/src/assets/css/theme/_component.scss
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#6833 Prepare 2.26.0 beta.1
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/fake.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_k_e.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6807 Customize Openstack preset values
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/provider/openstack.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/a_w_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/alibaba.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia.go
  modules/api/pkg/test/e2e/utils/apiclient/models/azure.go
  modules/api/pkg/test/e2e/utils/apiclient/models/baremetal.go
  modules/api/pkg/test/e2e/utils/apiclient/models/digitalocean.go
  modules/api/pkg/test/e2e/utils/apiclient/models/e_k_s.go
  modules/api/pkg/test/e2e/utils/apiclient/models/fake.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_c_p.go
  modules/api/pkg/test/e2e/utils/apiclient/models/g_k_e.go
  modules/api/pkg/test/e2e/utils/apiclient/models/hetzner.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/nutanix.go
  modules/api/pkg/test/e2e/utils/apiclient/models/open_stack_api_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_provider.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_sphere.go
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/components/openstack-credentials/application/component.ts
  modules/web/src/app/shared/components/openstack-credentials/component.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/module.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/application/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/application/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/template.html
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd

#6839 Upgrade to Go 1.23.1
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/api/v1/time.go
  modules/api/pkg/ee/group-project-binding/handler/handler.go
  modules/api/pkg/ee/metering/handler.go
  modules/api/pkg/ee/metering/report_config_handler.go
  modules/api/pkg/ee/resource-quota/handler.go
  modules/api/pkg/handler/common/filter.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/provider/aws.go
  modules/api/pkg/handler/common/upgrade.go
  modules/api/pkg/handler/v1/admin/admission_plugin.go
  modules/api/pkg/handler/v1/admin/seed.go
  modules/api/pkg/handler/v1/cluster/cluster.go
  modules/api/pkg/handler/v1/cluster/upgrade.go
  modules/api/pkg/handler/v1/node/node.go
  modules/api/pkg/handler/v1/presets/credentials.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/handler/v1/serviceaccount/sa.go
  modules/api/pkg/handler/v1/serviceaccount/token.go
  modules/api/pkg/handler/v1/user/user.go
  modules/api/pkg/handler/v2/alertmanager/alertmanager.go
  modules/api/pkg/handler/v2/application_definition/application_definition.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/cniversion/cniversion.go
  modules/api/pkg/handler/v2/constraint/constraint.go
  modules/api/pkg/handler/v2/constraint_template/constraint_template.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/handler/v2/external_cluster/upgrade.go
  modules/api/pkg/handler/v2/ipampool/ipampool.go
  modules/api/pkg/handler/v2/machine/machine.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/provider/aws.go
  modules/api/pkg/handler/v2/provider/gcp.go
  modules/api/pkg/handler/v2/provider/nutanix.go
  modules/api/pkg/handler/v2/provider/vmwareclouddirector.go
  modules/api/pkg/handler/v2/rulegroup/rulegroup.go
  modules/api/pkg/handler/v2/rulegroup_admin/rulegroup.go
  modules/api/pkg/handler/v2/version/version.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6849 Fix the "What's new" notification
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6851 [release/v2.23] prepare 2.23.19
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6850 [release/v2.24] prepare 2.24.13
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6852 [release/v2.25] prepare 2.25.9
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6848 Web terminal: fix warning when sourcing .bashrc
  hack/images/web-terminal/.bashrc
Labels: size/XS, lgtm, release-note, approved, ok-to-test, kind/enhancement, dco-signoff: yes, docs/none, code-freeze-approved

#6853 Terminal: Update dependencies
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6838 correct labels for vSphere InfraManagement credentials
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vsphere-provider-settings/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/vsphere/template.html
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, docs/none, code-freeze-approved

#6855 [release/v2.25] prepare 2.25.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6856 [release/v2.25] prepare 2.25.11
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, code-freeze-approved

#6865 Prepare 2.26.0 beta.2
  Makefile
  modules/api/.golangci.yml
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/provider/aws.go
  modules/api/pkg/handler/common/upgrade.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v1/cluster/upgrade_test.go
  modules/api/pkg/handler/v1/common/common.go
  modules/api/pkg/handler/v1/common/version_skew.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/upgrade_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/api/pkg/provider/cloud/openstack/provider_test.go
  modules/api/pkg/provider/cloud/vsphere/provider_test.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/kubernetes/user.go
  modules/api/pkg/provider/kubernetes/user_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/types_test.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/common_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/client.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6874 UI UX fixes
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/project/style.scss
  modules/web/src/app/project/template.html
  modules/web/src/app/serviceaccount/token/style.scss
  modules/web/src/app/settings/admin/applications/style.scss
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/settings/admin/bucket-settings/style.scss
  modules/web/src/app/settings/admin/defaults/static-labels-form/style.scss
  modules/web/src/app/settings/admin/defaults/static-labels-form/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/limits/style.scss
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/settings/admin/presets/edit-dialog/theme.scss
  modules/web/src/app/settings/admin/presets/theme.scss
  modules/web/src/app/settings/admin/seed-configurations/style.scss
  modules/web/src/app/settings/admin/seed-configurations/template.html
  modules/web/src/app/shared/components/add-project-dialog/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
Labels: kind/bug, release-note-none, size/L, lgtm, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6866 Cluster backup enhancements
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/shared/validators/cron.validator.ts
  modules/web/src/app/shared/validators/others.ts
Labels: kind/bug, release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6876 Show selected value of vSphere VMGroup in edit MD dialog
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6878 Fix CNI plugin defaulting for edge
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6880 Fix validation for annotations
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/components/annotation-form/template.html
  modules/web/src/app/shared/validators/others.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6879 [release/v2.25] Fix CNI plugin defaulting for Edge cloud provider
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, code-freeze-approved

#6884 Fix default CNI application values in cluster wizard
  modules/web/src/app/wizard/step/cluster/cilium-application-values-dialog/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6885 Annotations form improvements
  modules/web/src/app/shared/components/annotation-form/template.html
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6887 [release/v2.25] Fix default CNI application values in cluster wizard
  modules/web/src/app/wizard/step/cluster/cilium-application-values-dialog/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, do-not-merge/code-freeze

#6888 Fix alignment of long label keys and values
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Labels: release-note-none, lgtm, size/S, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6889 Revert "Web terminal: fix warning when sourcing .bashrc (#6848)"
  hack/images/web-terminal/.bashrc
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, needs-ok-to-test, dco-signoff: yes, docs/none, code-freeze-approved

#6886 Customizable openstack preset fixes
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/openstack/template.html
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6890 Update web-terminal image to v0.9.1
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Labels: size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6892 Fix tooltip for web terminal
  modules/web/src/app/shared/components/terminal/terminal-toolbar/template.html
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6893 Add retries for integration tests
  modules/web/cypress.config.ts
  modules/web/cypress/e2e/v2/stories/ssh-keys.spec.ts
Labels: release-note-none, size/XS, lgtm, approved, kind/failing-test, dco-signoff: yes, docs/none, code-freeze-approved

#6894 Default applications improvements
  modules/web/src/app/settings/admin/applications/component.ts
  modules/web/src/app/settings/admin/applications/template.html
  modules/web/src/app/shared/components/application-list/style.scss
  modules/web/src/app/shared/components/event-card/style.scss
Labels: release-note-none, lgtm, size/S, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#6891 static labels enhancement
  modules/web/src/app/settings/admin/defaults/static-labels-form/component.ts
  modules/web/src/app/settings/admin/defaults/static-labels-form/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/label-form/component.ts
  modules/web/src/app/shared/components/label-form/template.html
  modules/web/src/assets/css/material/_main.scss
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved
