Repository kubermatic/dashboard, pull requests merged in 2024-04, with the labels that each got.

#6644 bump kkp to ea50f1ae5a39
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/metering/report_config_handler.go
  modules/api/pkg/ee/metering/report_config_handler_test.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_report_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_report_format.go
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none

#6647 Upgrade golang to 1.22.2
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6648 [release/v2.25] bump kkp to a4a9f00bb327
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/provider/kubernetes/admission_plugin_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_report_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/metering_report_format.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api

#6649 [release/v2.24] bump kkp to 07cf4889885b
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6650 [release/v2.25] Upgrade golang to 1.22.2 for v2.25 release branch
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#6655 Migrate card-chip component version 15
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/node-list/style.scss
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/cluster/details/external-cluster/external-node-list/style.scss
  modules/web/src/app/cluster/details/external-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/dynamic/enterprise/metering/legacy-reports/card/style.scss
  modules/web/src/app/dynamic/enterprise/quotas/quota-widget/style.scss
  modules/web/src/app/external-cluster-wizard/style.scss
  modules/web/src/app/kubeone-wizard/style.scss
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/components/chip/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/event-card/style.scss
  modules/web/src/app/shared/components/labels/component.ts
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
  modules/web/src/app/shared/components/taints/template.html
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/style.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#6656 Improve wording for OIDC Kubeconfig settings
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, docs/none

#6658 [release/v2.23] Improve wording for OIDC kubeconfig settings
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore

#6659 [release/v2.24] Improve wording for OIDC kubeconfig settings
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore

#6651 api: don't construct upgrade conditions, use KKP logic instead
  modules/api/pkg/handler/common/upgrade.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/regression, docs/none

#6652 [release/v2.25]Bump version changes for KKP Apr 2024 patch release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6653 [release/v2.24]Bump version changes for KKP Apr 2024 patch release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6654 [release/v2.23]Bump version changes for KKP Apr 2024 patch release
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6662 UI: update dependencies
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, kind/chore, docs/none

#6663 Display name for applications
  hack/ci/testdata/kubermatic.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v2/application_definition/conversion.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_list_item_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/env_var.go
  modules/api/pkg/test/e2e/utils/apiclient/models/env_var_source.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/object_field_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_field_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/web_terminal_options.go
  modules/web/src/app/shared/components/application-list/application-definition-card/template.html
  modules/web/src/app/shared/components/application-list/component.ts
  modules/web/src/app/shared/components/application-list/template.html
  modules/web/src/app/shared/entity/application.ts
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#6666 [release/2.24] hotfix: browser crashes on mat-select
  modules/web/src/app/hotfix-mat-select.ts
  modules/web/src/app/shared/module.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes

#6667 [release/2.23] hotfix: browser crashes on mat-select
  modules/web/src/app/hotfix-mat-select.ts
  modules/web/src/app/shared/module.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes

#6669 Fix vSphere default template value
  modules/web/src/app/node-data/basic/provider/vsphere/component.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#6668 Support for configuring web terminal options
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, needs-release-testing

#6674 [release/v2.25] prepare v2.25.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6675 [release/v2.24] prepare v2.24.7
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6676 [release/v2.23] prepare v2.23.14
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api

#6673 Migrate form-field and tool-tip component version 15 (#6655)
  modules/web/src/app/cluster/details/cluster/cni-version/style.scss
  modules/web/src/app/cluster/details/cluster/cni-version/template.html
  modules/web/src/app/cluster/details/cluster/cni-version/theme.scss
  modules/web/src/app/cluster/details/shared/version-picker/style.scss
  modules/web/src/app/cluster/details/shared/version-picker/theme.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/style.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/global/_theme.scss
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/material/_theme.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#6680 prepare 2.25.3
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6679 prepare 2.24.8
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6678 prepare 2.23.15
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore
