Repository kubermatic/dashboard, pull requests merged in 2024-01, with the labels that each got.

#6442 Small tweaks in local dev scripts
  modules/web/hack/development/run-npm-in-docker.sh
  modules/web/hack/run-in-docker.sh
  modules/web/proxy-local.conf.cjs
Labels: kind/cleanup, release-note-none, size/XS, lgtm, do-not-merge/hold, approved, dco-signoff: yes, docs/none

#6446 Support for static network configuration
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/dns_config.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/node_spec.go
  modules/web/src/app/core/services/node-data/service.ts
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/validators/others.ts
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#6453 Fix operating system profile filter for GCP
  modules/web/src/app/node-data/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none, backport-needed

#6455 [release/v2.22] Fix operating system profile filter for GCE
  modules/web/src/app/node-data/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes

#6456 [release/v2.23] Fix operating system profile filter for GCE
  modules/web/src/app/node-data/component.ts
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes

#6433 Add admin option to enable disable cluster backup
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/api/pkg/ee/clusterbackup/restore/handler.go
  modules/api/pkg/ee/clusterbackup/schedule/handler.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v2/clusterbackup/backup/clusterbackupconfig.go
  modules/api/pkg/handler/v2/clusterbackup/backup/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backup/wrappers_ee.go
  modules/api/pkg/handler/v2/clusterbackup/restore/clusterrestore.go
  modules/api/pkg/handler/v2/clusterbackup/restore/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/restore/wrappers_ee.go
  modules/api/pkg/handler/v2/clusterbackup/schedule/clusterbackupschedule.go
  modules/api/pkg/handler/v2/clusterbackup/schedule/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/schedule/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/cloud/aws/client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/match.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/template.html
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/ui, sig/api, docs/tbd

#6460 Anexia: Adjust MachineDeployment form to current spec
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/handler/common/provider/anexia.go
  modules/api/pkg/handler/v2/provider/anexia.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/common_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/anexia_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_anexia_disk_types_no_credentials_v2_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_anexia_disk_types_no_credentials_v2_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_disk_types_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/anexia/list_project_anexia_disk_types_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_disk_type.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_disk_type_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_node_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/anexia_template.go
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/node-data/provider/anexia.ts
  modules/web/src/app/core/services/provider/anexia.ts
  modules/web/src/app/core/services/wizard/provider/anexia.ts
  modules/web/src/app/node-data/basic/provider/anexia/component.ts
  modules/web/src/app/node-data/basic/provider/anexia/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/anexia.ts
Labels: kind/bug, kind/cleanup, kind/feature, lgtm, release-note, approved, size/XXL, ok-to-test, kind/api-change, dco-signoff: yes, sig/api, docs/none

#6467 Update k8c.io/kubermatic/v2 dependency to `223a5c1`
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/provider/cloud/aws/client.go
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6470 [release/v2.22] Bump version to v2.22.12
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6469 [release/v2.23] Bump version to v2.23.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#6468 [release/v2.24] Bump version to v2.24.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api, kind/chore

#6480 Support for attaching multiple networks to a vApp
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_provider.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_api_preset.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_cloud_spec.go
  modules/web/package.json
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/component.ts
  modules/web/src/app/cluster/details/cluster/edit-provider-settings/vmware-cloud-director-provider-settings/template.html
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/vmware-cloud-director/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/wizard/step/provider-settings/preset/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/vmware-cloud-director/template.html
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#6481 VCD: Change title to VM placement settings
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/template.html
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#6482 VCD: Support for configuring IP allocation modes
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/ip_allocation_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/v_mware_cloud_director_settings.go
  modules/web/cypress/utils/mocks.ts
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/style.scss
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: customer-request, kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6489 Add new option for default volumes file system
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/shared/entity/backup.ts
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none
