Repository kubermatic/dashboard, pull requests merged in 2024-10, with the labels that each got.

#6904 prepare 2.26.0-rc.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#6905 Fix add config to CBSL
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6906 Fix `SHOW MORE` labels button
  modules/web/src/app/shared/components/labels/component.ts
  modules/web/src/app/shared/components/labels/style.scss
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6903 Fix typos
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster.go
  modules/api/pkg/provider/cloud/openstack/provider_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_external_cluster_parameters.go
Labels: kind/cleanup, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#6907 Prevent system applications from re-appearing after an application is updated
  modules/web/src/app/settings/admin/applications/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#6908 Add baremetal to SupportedCloudProviders list in OSP
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none

#6918 Only allow Ubuntu OS for baremetal provider
  modules/web/src/app/node-data/component.ts
Labels: kind/feature, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#6915 Support KubeVirt Provider Network
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/provider/kubernetes/preset.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#6922 [release/v2.26] Add baremetal to osp-ubuntu
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api

#6923 Allow Ubuntu OSP only for baremetal provider
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile.go
  modules/api/pkg/handler/v2/operatingsystemprofile/operatingsystemprofile_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none

#6840 Remove code for obsolete features
  modules/web/src/app/cluster/details/shared/version-change-dialog/component.ts
  modules/web/src/app/cluster/details/shared/version-change-dialog/template.html
  modules/web/src/app/node-data/dialog/component.ts
  modules/web/src/app/node-data/dialog/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/entity/cluster.ts
Labels: kind/cleanup, release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#6924 Upgrade to Go 1.23.2
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#6927 Select correct template value when editing MD of VCD provider
  modules/web/src/app/node-data/basic/provider/vmware-cloud-director/component.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none

#6934 [release/v2.26] Bump KKP, MC, and OSM dependencies to latest
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#6933 [release/v2.26] Prepare 2.26.0
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api

#6941 KubeVirt: Support for VPC and Subnets
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/cluster/cluster.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/kubevirt/client.go
  modules/api/pkg/provider/cloud/kubevirt/networks.go
  modules/api/pkg/provider/cloud/kubevirt/providernetworks/kubeovn/provider.go
  modules/api/pkg/provider/cloud/kubevirt/providernetworks/provider_networks.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_subnet_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_v_p_c.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_v_p_c_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
  modules/web/src/app/cluster/details/cluster/node-list/template.html
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/kubevirt/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/preset.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/basic/kubevirt/template.html
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#6949 Read KubeVirt infra namespace from datacenter
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/seedoverview/seedoverview_test.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_instancetypes_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_preferences_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kube_virt_storage_classes_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_v_p_cs_parameters.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
Labels: kind/bug, release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#6950 Upgrade Cypress to version 13
  modules/web/cypress.config.ts
  modules/web/cypress/support/e2e.ts
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#6958 Upgrade to Angular version 18.
  modules/web/.gitignore
  modules/web/cypress/pages/v2/wizard/page.ts
  modules/web/hack/check-licenses.sh
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/core/module.ts
  modules/web/src/assets/css/theme/_main.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Labels: lgtm, release-note, approved, size/XXL, dco-signoff: yes, kind/chore, docs/none
