Repository kubermatic/dashboard, pull requests merged in 2025-04, with the labels that each got.

#7252 Add kubevirt cpu alloc ratio support
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/shared/entity/node.ts
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7264 [release/v2.27] Add kubevirt cpu alloc ratio support (#7252)
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api

#7263 [release/v2.25] Bump KKP Dashboard version and dependencies for April 2025 patch release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#7265 [release/v2.26] Bump KKP Dashboard version and dependencies for April 2025 patch release
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#7272 Add logic to select the highest priority role
  modules/web/src/app/shared/utils/member.ts
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, docs/none

#7231 (feat): Allow setting a default checksum algorithm for Velero
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/storage-location/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/cbsl.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_backup_options.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7283 Prevent installing autoscaler if not defined in app definitions.
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none

#7277 Bump KKP to ee62a2fbce17d49c340b42189e052c7e9ebe07ba
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/provider/kubernetes/ipampool_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/config_map_key_selector.go
  modules/api/pkg/test/e2e/utils/apiclient/models/local_object_reference.go
  modules/api/pkg/test/e2e/utils/apiclient/models/pod_dns_config_option.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secret_key_selector.go
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, docs/tbd

#7253 Update to Go 1.24.2, golangci-lint 2.x
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/.golangci.yml
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/provider/kubevirt_test.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/test/fake_wrapper.go
  modules/api/pkg/handler/v1/cluster/upgrade.go
  modules/api/pkg/handler/v1/common/common.go
  modules/api/pkg/handler/v1/common/conversion.go
  modules/api/pkg/handler/v1/common/version_skew.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/external_cluster/node.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/handler.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/login.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/proxy.go
  modules/api/pkg/handler/v2/kubernetes-dashboard/request.go
  modules/api/pkg/handler/v2/machine/machine.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults.go
  modules/api/pkg/handler/v2/provider/nutanix_test.go
  modules/api/pkg/handler/v2/provider/vsphere.go
  modules/api/pkg/handler/v2/rulegroup/rulegroup.go
  modules/api/pkg/handler/v2/rulegroup_admin/rulegroup.go
  modules/api/pkg/provider/cloud/gke/provider.go
  modules/api/pkg/provider/cloud/kubevirt/storage_class.go
  modules/api/pkg/provider/cloud/vsphere/provider.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/kubernetes/external_cluster_test.go
  modules/api/pkg/provider/kubernetes/seed_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/watcher/kubernetes/settings.go
  modules/api/pkg/provider/watcher/kubernetes/settings_test.go
  modules/api/pkg/provider/watcher/kubernetes/user.go
  modules/api/pkg/provider/watcher/kubernetes/user_test.go
  modules/api/pkg/provider/watcher/types.go
  modules/api/pkg/resources/machine/common_test.go
  modules/api/pkg/test/clusterexposer/controller/controller.go
  modules/api/pkg/test/e2e/utils/http.go
  modules/api/pkg/watcher/kubernetes/settings.go
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none

#7294 Bump KKP dependency with the commit 658ddd1df557abbf69a2d3de76220803ce1655b2
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/networkdefaults/networkdefaults_unit_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/l_b_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/load_balancer_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_cloud_spec.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#7298 (fix): Update CBSL wrapper in CE to prevent build issues while using CE tag
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ce.go
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none
