Repository kubermatic/dashboard, pull requests merged in 2025-02, with the labels that each got.

#7130 Fix machine deployment update for vSphere
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7128 Add option to install cluster autoscaling application
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/entity/application.ts
  modules/web/src/app/shared/model/NodeSpecChange.ts
  modules/web/src/app/wizard/step/applications/component.ts
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/tbd, code-freeze-approved

#7138 Add a single make target for code generation
  modules/api/Makefile
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7129 Support kubevirt eviction strategy
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_node_spec.go
Labels: kind/feature, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7143 Update license year
  modules/web/package.json
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, docs/none, code-freeze-approved

#7145 Prepare 2.27.0 alpha.2
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_infra_storage_class.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_volume_provisioner.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7144 Filter KubeVirt Storage Casses based on volume Provisioner
  modules/api/pkg/handler/common/provider/kubevirt.go
Labels: kind/feature, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7147 bump to Go 1.23.6
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7153 UX improvements for min/max replicas
  modules/web/src/app/cluster/details/cluster/machine-deployment-details/template.html
  modules/web/src/app/node-data/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
Labels: release-note-none, size/M, lgtm, approved, kind/design, dco-signoff: yes, docs/none, code-freeze-approved

#7154 Fix error message for failed backups and restores
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/component.ts
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7155 Fix swagger client for Kyverno
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-swagger.sh
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7156 Fix hints in group and members dialogs
  modules/web/src/app/dynamic/enterprise/group/add-group-dialog/template.html
  modules/web/src/app/dynamic/enterprise/group/edit-group-dialog/template.html
  modules/web/src/app/dynamic/enterprise/group/template.html
  modules/web/src/app/member/add-member/template.html
  modules/web/src/app/member/edit-member/template.html
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7157 Check credentials type when evaluating required credentials for Openstack settings
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7108 feat(cluster-backup): add apis for managing backup storage location
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/bsl.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/backupstoragelocation/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/backupstoragelocation_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/create_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/delete_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/get_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/backupstoragelocation/list_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubermatic_kubernetes_platform_api_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/b_s_l_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_list.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_overview.go
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7159 prepare 2.27.0-beta.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7111 Import cluster backups
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/clusterbackup/backupstoragelocation/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/handler.go
  modules/api/pkg/ee/clusterbackup/storage-location/provider.go
  modules/api/pkg/handler/v1/common/common.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/cbsl.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ce.go
  modules/api/pkg/handler/v2/clusterbackup/storage-location/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/delete_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/get_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_cluster_backup_storage_location_bucket_objects_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/list_cluster_backup_storage_location_bucket_objects_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_cluster_backup_storage_location_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/patch_cluster_backup_storage_location_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/project_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_bucket_object.go
  modules/api/pkg/test/e2e/utils/apiclient/models/backup_storage_location_bucket_object_list.go
  modules/web/src/app/core/services/cluster-backup.ts
  modules/web/src/app/core/services/cluster.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/theme.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/module.ts
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/assets/css/_images.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/images/icons/file.svg
  modules/web/src/assets/images/icons/folder-open.svg
  modules/web/src/assets/images/icons/folder.svg
  modules/web/src/assets/images/icons/import.svg
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd, code-freeze-approved

#7161 Fix small applications issues
  modules/web/src/app/node-data/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/component.ts
  modules/web/src/app/shared/components/application-list/edit-application-dialog/template.html
  modules/web/src/app/wizard/step/applications/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7162 Minor improvements
  modules/api/go.mod
  modules/api/go.sum
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/import-dialog/template.html
  modules/web/src/app/dynamic/enterprise/quotas/default-project-quota/template.html
  modules/web/src/app/kubeone-wizard/steps/cluster/style.scss
  modules/web/src/app/kubeone-wizard/steps/cluster/template.html
  modules/web/src/app/member/add-member/template.html
  modules/web/src/app/settings/admin/admins/add-admin-dialog/template.html
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/settings/admin/presets/dialog/steps/preset/template.html
  modules/web/src/app/shared/components/add-external-cluster-dialog/steps/external-provider/template.html
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7163 Small enhancements for etcd
  modules/web/src/app/backup/list/automatic-backup/add-dialog/template.html
  modules/web/src/app/backup/list/component.ts
  modules/web/src/app/backup/list/snapshot/add-dialog/template.html
Labels: kind/bug, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7164 Prepare 2.27.0 rc.0
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_c_s_i_driver_operator.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kubevirt_cloud_spec.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7165 Fix datacenter handling for Edge
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7167 [release/v2.25] Fix datacenter handling for Edge
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/dc/datacenter.go
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_edge.go
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, code-freeze-approved

#7168 Add select all namespaces to restore and few enhancements
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/add-dialog/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/style.scss
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/restore/template.html
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/schedule/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/assets/css/global/_theme.scss
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7178 Cover the External Cloud Spec in the API
  modules/api/pkg/machine/convert.go
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7185 [release/v2.27] prepare 2.27.1
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none
