Repository kubermatic/dashboard, pull requests merged in 2025-01, with the labels that each got.

#7054 Downgrade react and @types/react
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#7055 Pick default value for KubeLB Gateway API from datacenter
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/feature, size/XS, lgtm, release-note, approved, dco-signoff: yes, docs/none

#7069 Add search field in autocomplete options dropdown
  modules/web/src/app/shared/components/autocomplete/component.ts
  modules/web/src/app/shared/components/autocomplete/style.scss
  modules/web/src/app/shared/components/autocomplete/template.html
Labels: size/M, lgtm, release-note, approved, kind/design, dco-signoff: yes, docs/none

#7068 Bump KKP Version in the API
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/api/pkg/test/e2e/utils/apiclient/models/app_namespace_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/application_definition_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_azure.go
Labels: kind/bug, release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#7072 Revert "Fix alignment of long label keys and values"
  modules/web/src/app/shared/components/labels/style.scss
  modules/web/src/app/shared/components/labels/template.html
Labels: release-note-none, lgtm, size/S, approved, kind/design, dco-signoff: yes, docs/none

#7049 Fix list images in kubevirt and tinkerbell
  modules/api/pkg/handler/common/provider/baremetal.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/resources/machine/common.go
Labels: kind/bug, size/XS, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7080 [release/v2.24] Bump dashboard version for KKP next patch release 2.24.15
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, lgtm, size/S, approved, kind/documentation, dco-signoff: yes, sig/api

#7081 [release/v2.25] Bump dashboard version for KKP next patch release 2.25.13
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7082 [release/v2.26] Bump dashboard version for KKP next patch release 2.26.3
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7086 [release/v2.26] Prepare 2.26.4
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/resources/reconciling/zz_generated_reconcile.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore

#7093 prepare 2.27.0-alpha.0
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#7107 Bump KKP dependencies to the commit da427bc
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7067 Admin announcement feature
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/user/user.go
  modules/api/pkg/test/e2e/utils/apiclient/client/settings/patch_current_user_settings_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/users/patch_current_user_read_announcements_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/users/patch_current_user_read_announcements_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/users/users_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/announcement.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/user.go
  modules/web/src/app/component.ts
  modules/web/src/app/core/components/help-panel/component.ts
  modules/web/src/app/core/components/help-panel/template.html
  modules/web/src/app/core/services/settings.ts
  modules/web/src/app/core/services/user.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/component.ts
  modules/web/src/app/settings/admin/announcements/announcement-dialog/style.scss
  modules/web/src/app/settings/admin/announcements/announcement-dialog/template.html
  modules/web/src/app/settings/admin/announcements/component.ts
  modules/web/src/app/settings/admin/announcements/module.ts
  modules/web/src/app/settings/admin/announcements/routing.ts
  modules/web/src/app/settings/admin/announcements/style.scss
  modules/web/src/app/settings/admin/announcements/template.html
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/announcement-banner/component.ts
  modules/web/src/app/shared/components/announcement-banner/style.scss
  modules/web/src/app/shared/components/announcement-banner/template.html
  modules/web/src/app/shared/components/announcement-banner/theme.scss
  modules/web/src/app/shared/components/announcements/component.ts
  modules/web/src/app/shared/components/announcements/style.scss
  modules/web/src/app/shared/components/announcements/template.html
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/entity/member.ts
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/app/shared/module.ts
  modules/web/src/app/template.html
  modules/web/src/assets/css/material/_main.scss
  modules/web/src/assets/css/theme/_component.scss
  modules/web/src/assets/themes/dark.scss
  modules/web/src/assets/themes/light.scss
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd, needs-release-testing

#7112 Fix API client and swagger spec generation
  modules/api/go.mod
  modules/api/go.sum
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-swagger.sh
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7113 Prepare 2.27.0 alpha.1
  Makefile
  modules/api/.wwhrd.yml
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/application_installation/conversion.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/app_namespace_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_openstack.go
  modules/api/pkg/test/e2e/utils/apiclient/models/eviction_strategy.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, approved, size/XL, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved
