Repository kubermatic/dashboard, pull requests merged in 2025-07, with the labels that each got.

#7446 Prevent project viewer from creating cluster templates
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/provider/kubernetes/cluster_template.go
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/template.html
  modules/web/src/assets/config/userGroupConfig.json
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7483 Add skip router reconciliation option for OpenStack clusters
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/shared/components/annotation-form/component.ts
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none, backport-needed

#7490 [release/v2.27] Bump KKP and OSM dependencies for KKP patch release 2.27.6
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#7492 [release/v2.26] Bump KKP and OSM dependencies for KKP patch release 2.26.10
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#7498 [release/v2.28] Bump KKP dependencies
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#7499 [release/v2.27] Skip setting kubevirt cpu value when an instance type is chosen (#7493)
  modules/api/pkg/resources/machine/common.go
Labels: kind/bug, size/S, release-note, dco-signoff: yes, sig/api

#7479 Add Support for Safe Preset Deletion with Linkage Information in Admin Interface
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/v2/preset/preset.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/get_preset_linkages_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/preset/preset_client.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_template_association.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_linkages.go
  modules/api/pkg/test/e2e/utils/apiclient/models/preset_stats.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/core/interceptors/error-notifications.ts
  modules/web/src/app/core/services/wizard/presets.ts
  modules/web/src/app/settings/admin/module.ts
  modules/web/src/app/settings/admin/presets/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/component.ts
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/style.scss
  modules/web/src/app/settings/admin/presets/preset-linkages-dialog/template.html
  modules/web/src/app/settings/admin/presets/template.html
  modules/web/src/app/shared/entity/preset.ts
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/none

#7504 Add restrict project modification settings
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/admin/settings.go
  modules/api/pkg/handler/v1/admin/settings_test.go
  modules/api/pkg/handler/v1/dc/datacenter_test.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/conversions_test.go
  modules/api/pkg/provider/kubernetes/settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/container_runtime_opts.go
  modules/api/pkg/test/e2e/utils/apiclient/models/global_settings.go
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project/component.ts
  modules/web/src/app/settings/admin/limits/template.html
  modules/web/src/app/shared/entity/settings.ts
  modules/web/src/test/services/settings-mock.ts
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7509 Install k9s, krew, and oidc-login in terminal image
  hack/images/web-terminal/Dockerfile
  hack/images/web-terminal/release.sh
  modules/api/pkg/handler/websocket/terminal.go
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7513 Fix OpenStack network selection to handle networks without name
  modules/api/pkg/provider/cloud/openstack/helper.go
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/openstack/default/template.html
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7516 Enable of config drive for open stack
  modules/web/src/app/node-data/basic/provider/openstack/component.ts
  modules/web/src/app/node-data/basic/provider/openstack/style.scss
  modules/web/src/app/node-data/basic/provider/openstack/template.html
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/component.ts
  modules/web/src/app/settings/admin/dynamic-datacenters/datacenter-data-dialog/template.html
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/shared/entity/node.ts
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, docs/tbd, backport-needed
