Repository kubermatic/dashboard, pull requests merged in 2025-10, with the labels that each got.

#7602 Remove Beta Label / Warning from Encryption At Rest
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/edit-cluster/theme.scss
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/cluster/theme.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#7627 Prepare for 2.29.0-alpha.2
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7639 Fix cluster template bugs
  modules/web/src/app/node-data/basic/provider/gcp/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/bug, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7641 bump kkp dependency to latest
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
Labels: release-note-none, size/M, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved
