Repository kubermatic/dashboard, pull requests merged in 2025-03, with the labels that each got.

#7203 Fix `e2e:mock` script
  modules/web/package.json
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none

#7200 Bring back `ngx-charts` package
  modules/web/jest.config.cjs
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/shared/module.ts
Labels: kind/bug, release-note-none, size/L, lgtm, approved, dco-signoff: yes, docs/none

#7205 Pass feature gates flag to API in run-api script
  modules/api/hack/run-api.sh
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#7206 Split large token to multi cookies
  modules/api/cmd/kubermatic-api/main.go
  modules/api/pkg/handler/auth/oidc.go
  modules/web/src/app/config.ts
  modules/web/src/app/core/services/auth/service.ts
  modules/web/src/app/core/services/token.ts
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7214 [release/v2.26] Bump dashboard version for KKP patch release 2.26.5
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7213 [release/v2.25] Bump KKP dashboard version for KKP next patch release 2.25.14
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7215 [release/v2.27] Bump KKP dependency for KKP Dashboard patch release 2.27.1
  modules/api/go.mod
  modules/api/go.sum
Labels: release-note-none, size/XS, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7217 (fix): use OSP from node instead of default OSP from dc
  modules/api/pkg/resources/machine/machinedeployment.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7221 [release/v2.25] (fix): use OSP from node instead of default OSP from dc
  modules/api/pkg/resources/machine/machinedeployment.go
Labels: lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api

#7237 [release/v2.25] Bump KKP dashboard version and update dependencies
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7238 [release/v2.27] Bump KKP dashboard version and update dependencies
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7248 bump KKP to f51b80d6a913
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/machine.go
  modules/api/pkg/handler/common/provider/aws.go
  modules/api/pkg/handler/common/upgrade.go
  modules/api/pkg/handler/test/fake_provider.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v1/cluster/upgrade_test.go
  modules/api/pkg/handler/v1/common/common.go
  modules/api/pkg/handler/v1/common/version_skew.go
  modules/api/pkg/handler/v1/node/node_test.go
  modules/api/pkg/handler/v1/user/user_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/upgrade_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template.go
  modules/api/pkg/handler/v2/external_cluster/aks.go
  modules/api/pkg/handler/v2/external_cluster/eks.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/handler/v2/external_cluster/gke.go
  modules/api/pkg/handler/v2/external_cluster/kubeone.go
  modules/api/pkg/handler/v2/machine/machine_test.go
  modules/api/pkg/handler/v2/provider/kubevirt_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/provider/cloud/openstack/provider.go
  modules/api/pkg/provider/cloud/openstack/provider_test.go
  modules/api/pkg/provider/cloud/vsphere/provider_test.go
  modules/api/pkg/provider/kubernetes/credentials.go
  modules/api/pkg/provider/kubernetes/external_cluster.go
  modules/api/pkg/provider/kubernetes/user.go
  modules/api/pkg/provider/kubernetes/user_test.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/types_test.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/resources/machine/common_test.go
  modules/api/pkg/resources/machine/machinedeployment.go
  modules/api/pkg/test/e2e/utils/client.go
Labels: release-note-none, size/L, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none
