Repository kubermatic/dashboard, pull requests merged in 2025-05, with the labels that each got.

#7301 Support KubeVirt Subnet and StorageClasses Location Compatibility
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v1/admin/seed_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/etcd_backup_restore.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7303 [release/v2.27] Support KubeVirt Subnet and StorageClasses Location Compatibility (#…
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/test/helper.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/external_cluster/external_cluster_test.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_project_kubevirt_subnets_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api

#7299 (fix): OpenStack - pass ConfigDrive value to JSON patch during machine updates
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v1/types_test.go
  modules/api/pkg/machine/convert.go
  modules/api/pkg/resources/machine/common.go
  modules/api/pkg/test/e2e/utils/apiclient/models/openstack_node_spec.go
Labels: kind/bug, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7305 Make subnets required when a VPC is selected
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/kubevirt_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_subnets_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_v_p_cs_no_credentials_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/kubevirt/list_kube_virt_v_p_cs_no_credentials_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/public_kubevirt_cloud_spec.go
  modules/web/src/app/core/services/node-data/provider/kubevirt.ts
  modules/web/src/app/core/services/provider/kubevirt.ts
  modules/web/src/app/core/services/wizard/provider/kubevirt.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
Labels: kind/bug, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none

#7309 [release/v2.27] Bump KKP Dashboard version and dependencies for May 2025
  Makefile
  modules/api/Makefile
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, size/L, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7307 [release/v2.25] Bump KKP Dashboard version and dependencies for May 2025
  Makefile
  modules/api/Makefile
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/test/helper.go
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/assets/config/changelog.json
Labels: release-note-none, size/M, lgtm, approved, kind/documentation, dco-signoff: yes, sig/api

#7106 Add kyverno Policies endpoints
  modules/api/cmd/kubermatic-api/main.go
  modules/api/cmd/kubermatic-api/options.go
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/cmd/kubermatic-api/wrappers_ce.go
  modules/api/cmd/kubermatic-api/wrappers_ee.go
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/ee/cmd/kubermatic-api/wrappers.go
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/ee/kyverno/policy-template/handler.go
  modules/api/pkg/ee/kyverno/policy-template/provider.go
  modules/api/pkg/handler/routing.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/policybindingconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-binding/wrappers_ee.go
  modules/api/pkg/handler/v2/kyverno/policy-template/policytemplateconfig.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ce.go
  modules/api/pkg/handler/v2/kyverno/policy-template/wrappers_ee.go
  modules/api/pkg/handler/v2/routes_v2.go
  modules/api/pkg/handler/v2/routing.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/admin_client.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/create_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/delete_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/get_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/list_policy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patch_policy_binding_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_parameters.go
  modules/api/pkg/test/e2e/utils/apiclient/client/admin/patchpolicy_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/condition.go
  modules/api/pkg/test/e2e/utils/apiclient/models/create_policy_binding_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/patch_policy_binding_body.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_target_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_selector.go
Labels: lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd

#7316 Update dependencies for API
  modules/api/.golangci.yml
  modules/api/.wwhrd.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/ee/kyverno/policy-binding/handler.go
  modules/api/pkg/ee/kyverno/policy-binding/provider.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster/cluster_test.go
  modules/api/pkg/handler/v2/cluster_default/cluster_default_test.go
  modules/api/pkg/handler/v2/cluster_template/cluster_template_test.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_kubevirt.go
  modules/api/pkg/test/e2e/utils/apiclient/models/datacenter_spec_packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy.go
  modules/api/pkg/test/e2e/utils/apiclient/models/network_policy_mode.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/packet_cloud_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_target_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_template_target.go
  modules/api/pkg/test/e2e/utils/apiclient/models/provider_network.go
  modules/api/pkg/test/e2e/utils/apiclient/models/resource_selector.go
Labels: release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, sig/api, kind/chore, docs/none

#7322 Bump the image tag for chrome-headless image to use build image 1.24
  modules/web/containers/chrome-headless/release.sh
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, kind/chore, docs/none

#7321 Update the image tag for KKP owned images
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/lib.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, kind/chore, docs/none

#7318 Add support for global viewer role in middleware
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/v1/project/project.go
  modules/api/pkg/provider/kubernetes/member.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/provider/userinfo.go
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7324 Disable user SSH-Key feature gate UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/routes_v1.go
  modules/api/pkg/handler/v1/ssh/ssh.go
  modules/api/pkg/provider/kubernetes/featuregates.go
  modules/api/pkg/test/e2e/utils/apiclient/models/feature_gates.go
  modules/web/src/app/cluster/details/cluster/component.spec.ts
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.spec.ts
  modules/web/src/app/cluster/details/cluster/edit-sshkeys/component.ts
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/components/sidenav/component.ts
  modules/web/src/app/core/components/sidenav/template.html
  modules/web/src/app/core/module.ts
  modules/web/src/app/core/services/feature-gate.ts
  modules/web/src/app/core/services/ssh-key/guard.ts
  modules/web/src/app/core/services/ssh-key/ssh-key.ts
  modules/web/src/app/project-overview/component.ts
  modules/web/src/app/project-overview/template.html
  modules/web/src/app/routing.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.spec.ts
  modules/web/src/app/shared/components/add-ssh-key-dialog/component.ts
  modules/web/src/app/sshkey/component.spec.ts
  modules/web/src/app/sshkey/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.spec.ts
  modules/web/src/app/wizard/step/cluster/ssh-keys/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/ui, sig/api, docs/tbd

#7304 feat: disable default kubevirt instance types and preferences
  modules/api/pkg/handler/common/provider/kubevirt.go
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7336 fix(global-viewer): fix users api for global viewer use
  modules/api/pkg/handler/v1/user/user.go
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, docs/none

#7339 Fix Swagger UI
  modules/web/package-lock.json
  modules/web/package.json
  modules/web/src/app/pages/api-docs/component.ts
  modules/web/src/assets/css/root.scss
Labels: kind/bug, release-note-none, lgtm, approved, size/XXL, dco-signoff: yes, docs/none

#7340 Hide selection indicator from button toggle
  modules/web/src/app-config.ts
  modules/web/src/app/module.ts
Labels: release-note-none, lgtm, size/S, approved, kind/design, dco-signoff: yes, docs/none

#7346 Add functionality to configure checksum algorithm for backup storage location
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backup-storage-location/add-dialog/template.html
  modules/web/src/app/settings/admin/defaults/component.ts
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/shared/entity/backup.ts
  modules/web/src/app/shared/entity/settings.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, docs/tbd

#7337 Add global viewer role to the dashboard
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/v1/admin/admin.go
  modules/api/pkg/provider/kubernetes/admin.go
  modules/api/pkg/provider/types.go
  modules/api/pkg/test/e2e/utils/apiclient/models/admin.go
  modules/api/pkg/test/e2e/utils/apiclient/models/user.go
  modules/web/src/app/project/template.html
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/component.ts
  modules/web/src/app/settings/admin/global-viewer/add-global-viewer-dialog/template.html
  modules/web/src/app/settings/admin/global-viewer/component.ts
  modules/web/src/app/settings/admin/global-viewer/module.ts
  modules/web/src/app/settings/admin/global-viewer/style.scss
  modules/web/src/app/settings/admin/global-viewer/template.html
  modules/web/src/app/settings/admin/nav/template.html
  modules/web/src/app/settings/admin/routing.ts
  modules/web/src/app/shared/components/side-nav-field/component.ts
  modules/web/src/app/shared/entity/common.ts
  modules/web/src/app/shared/entity/member.ts
  modules/web/src/app/shared/utils/member.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd

#7350 Enable KubeLB for all datacenters
  .prow/api.yaml
  .prow/frontend.yaml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v2/seedsettings/seedsettings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/audit_sidecar_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_datacenter_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_l_b_seed_settings_api.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kyverno_policy_namespace.go
  modules/api/pkg/test/e2e/utils/apiclient/models/policy_binding_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_settings.go
  modules/api/pkg/test/e2e/utils/apiclient/models/seed_spec.go
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/shared/entity/datacenter.ts
  modules/web/src/app/wizard/step/cluster/component.ts
Labels: kind/feature, lgtm, release-note, approved, size/XL, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7345 fix(7343): add labels for backup objects
  modules/api/pkg/ee/clusterbackup/backup/handler.go
Labels: kind/feature, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7348 Display source of cluster backups
  modules/api/pkg/ee/clusterbackup/backup/handler.go
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/component.ts
  modules/web/src/app/dynamic/enterprise/cluster-backups/list/backups/template.html
  modules/web/src/app/shared/entity/backup.ts
Labels: kind/feature, size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd, code-freeze-approved

#7344 Add OPA deprecated warning message
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/settings/admin/defaults/template.html
  modules/web/src/app/settings/admin/opa/component.ts
  modules/web/src/app/settings/admin/opa/style.scss
  modules/web/src/app/settings/admin/opa/template.html
  modules/web/src/app/wizard/step/cluster/style.scss
  modules/web/src/app/wizard/step/cluster/template.html
Labels: kind/feature, release-note-none, size/M, lgtm, approved, dco-signoff: yes, docs/none

#7353 prepare 2.28.0-alpha.2
  Makefile
  modules/api/Makefile
  modules/web/Makefile
  modules/web/package-lock.json
  modules/web/package.json
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7352 Fix update-kkp make target
  modules/api/Makefile
Labels: release-note-none, size/XS, lgtm, approved, dco-signoff: yes, sig/api, kind/chore, docs/none, code-freeze-approved

#7369 Display KubeVirt Subnet CIDRs in UI
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/api/v2/types.go
  modules/api/pkg/handler/common/provider/kubevirt.go
  modules/api/pkg/handler/v2/provider/kubevirt.go
  modules/api/pkg/provider/cloud/kubevirt/networks.go
  modules/api/pkg/test/e2e/utils/apiclient/models/kube_virt_subnet.go
  modules/api/pkg/test/e2e/utils/apiclient/models/subnet.go
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
  modules/web/src/app/node-data/basic/provider/kubevirt/template.html
  modules/web/src/app/shared/entity/provider/kubevirt.ts
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved

#7376 Add a deprecation warning for Equinix Metal
  modules/web/src/app/cluster-template/component.ts
  modules/web/src/app/cluster-template/style.scss
  modules/web/src/app/cluster-template/template.html
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/style.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/cluster/list/cluster/component.ts
  modules/web/src/app/cluster/list/cluster/template.html
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/component.ts
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/style.scss
  modules/web/src/app/settings/admin/seed-configurations/seed-configurations-details/template.html
  modules/web/src/app/wizard/step/provider-datacenter/component.ts
  modules/web/src/app/wizard/step/provider-datacenter/style.scss
  modules/web/src/app/wizard/step/provider-datacenter/template.html
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7378 Make subnets as required on kubevirt
  modules/web/src/app/node-data/basic/provider/kubevirt/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7380 Add labels to ApplicationInstallation
  modules/web/src/app/wizard/step/applications/component.ts
Labels: kind/bug, release-note-none, size/XS, lgtm, approved, dco-signoff: yes, docs/none, code-freeze-approved

#7385 Fix enable kyverno on create user cluster
  modules/api/go.mod
  modules/api/go.sum
  modules/api/pkg/handler/v2/cluster_default/cluster_default.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/web/src/app/dynamic/enterprise/kyverno-policies/cluster-policies/component.ts
Labels: kind/bug, release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, docs/none, code-freeze-approved
