Repository kubermatic/dashboard, pull requests merged in 2025-09, with the labels that each got.

#7508 Refresh and update token for webterminal kubeconfig when token is expired
  modules/api/.gitignore
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/provider/auth/types/types.go
  modules/api/pkg/watcher/types.go
  modules/web/.gitignore
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
Labels: kind/bug, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd, backport-needed

#7547 [release/v2.26] Moving web-terminal clean job to seed
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/watcher/types.go
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api

#7541 [release/v2.27] Bump Go build image version
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#7543 [release/v2.26] Bump Go build image version
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: release-note-none, lgtm, size/S, approved, dco-signoff: yes, sig/api, kind/chore

#7550 [release/v2.27] Refresh and update token for webterminal kubeconfig when token is expired
  modules/api/.gitignore
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/provider/auth/types/types.go
  modules/api/pkg/watcher/types.go
  modules/web/.gitignore
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7551 [release/v2.28] Refresh and update token for webterminal kubeconfig when token is expired
  modules/api/.gitignore
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/provider/auth/types/types.go
  modules/api/pkg/watcher/types.go
  modules/web/.gitignore
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api

#7520 Parse NVIDIA GPU Operator related labels on Node
  modules/api/pkg/handler/common/machine.go
Labels: kind/feature, lgtm, size/S, release-note, approved, dco-signoff: yes, sig/api, docs/none

#7549 [release/v2.26] Refresh and update token for webterminal kubeconfig when token is expired
  modules/api/.gitignore
  modules/api/pkg/handler/auth/oidc.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/handler/middleware/middleware.go
  modules/api/pkg/handler/routes_v1_websocket.go
  modules/api/pkg/handler/test/fake_auth.go
  modules/api/pkg/handler/websocket/terminal.go
  modules/api/pkg/provider/auth/types/types.go
  modules/api/pkg/watcher/types.go
  modules/web/.gitignore
  modules/web/src/app/shared/components/terminal/component.ts
  modules/web/src/app/shared/components/terminal/template.html
  modules/web/src/app/shared/components/terminal/terminal-status-bar/component.ts
  modules/web/src/app/shared/components/terminal/terminal-status-bar/template.html
Labels: size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api

#7557 [release/v2.26] Bump Go version to v1.23.12
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/custom-dashboard/Dockerfile
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore

#7522 Add a new option to download/share the kubeconfig for OIDC-kubelogin plugin.
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/common/kubeconfig.go
  modules/api/pkg/test/e2e/utils/apiclient/client/operations/create_o_id_c_kubeconfig_parameters.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/component.ts
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/style.scss
  modules/web/src/app/cluster/details/cluster/share-kubeconfig/template.html
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/cluster.ts
Labels: kind/feature, size/L, lgtm, release-note, approved, dco-signoff: yes, sig/api, docs/tbd, needs-release-testing

#7554 Bump Go version to v1.25.1
  .prow/api.yaml
  .prow/common.yaml
  .prow/frontend.yaml
  hack/verify-spelling.sh
  modules/api/go.mod
  modules/api/hack/gen-api-client.sh
  modules/api/hack/update-swagger.sh
  modules/api/hack/verify-licenses.sh
  modules/web/containers/chrome-headless/Dockerfile
  modules/web/containers/chrome-headless/release.sh
  modules/web/containers/custom-dashboard/Dockerfile
  modules/web/go.mod
Labels: size/M, lgtm, release-note, approved, dco-signoff: yes, sig/api, kind/chore, docs/none

#7525 Enable Encryption At Rest for User Cluster
  modules/api/.golangci.yml
  modules/api/cmd/kubermatic-api/swagger.json
  modules/api/pkg/api/v1/types.go
  modules/api/pkg/handler/common/cluster.go
  modules/api/pkg/handler/v1/cluster/cluster_test.go
  modules/api/pkg/resources/cluster/cluster.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/create_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/client/project/update_cluster_template_responses.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/cluster_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/create_cluster_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_at_rest_spec.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/encryption_status.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_encryption_configuration.go
  modules/api/pkg/test/e2e/utils/apiclient/models/secretbox_key.go
  modules/web/src/app/cluster/details/cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/component.ts
  modules/web/src/app/cluster/details/cluster/edit-cluster/template.html
  modules/web/src/app/cluster/details/cluster/edit-cluster/theme.scss
  modules/web/src/app/cluster/details/cluster/template.html
  modules/web/src/app/core/services/cluster-spec.ts
  modules/web/src/app/shared/components/cluster-summary/template.html
  modules/web/src/app/shared/components/save-cluster-template/component.ts
  modules/web/src/app/shared/components/save-cluster-template/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/shared/utils/health-status.ts
  modules/web/src/app/wizard/component.ts
  modules/web/src/app/wizard/step/cluster/component.ts
  modules/web/src/app/wizard/step/cluster/template.html
  modules/web/src/app/wizard/step/cluster/theme.scss
  modules/web/src/assets/css/global/_main.scss
  modules/web/src/assets/css/theme/_component.scss
Labels: kind/feature, lgtm, release-note, approved, size/XXL, dco-signoff: yes, sig/api, docs/tbd

#7590 Remove Azure Basic Load Balancer SKU option
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/component.ts
  modules/web/src/app/settings/admin/presets/dialog/steps/settings/provider/azure/template.html
  modules/web/src/app/shared/entity/cluster.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/azure/component.ts
  modules/web/src/app/wizard/step/provider-settings/provider/extended/azure/template.html
  modules/web/src/test/data/cluster.ts
Labels: kind/cleanup, size/M, lgtm, release-note, approved, dco-signoff: yes, docs/none
